
  <app-instructor></app-instructor>
  <div class="container">
    <div class="myDashboard-navigation" style="margin-bottom: 30px;">
        <div class="row">
            <div class="col-lg-3 col-md-12" >
                <ul style="padding-left: 0rem !important;">
                    <li class="publish-li target" (click)="showQADetails()" [ngStyle]="{color: activeElemQA}"> <i class="bx bx-right-arrow-circle active"
                            style="font-size: 18px;"></i><span style="font-size: 16px;padding: 8px;">
                            Q&A</span></li>
                    <li class="publish-li target" (click)="showMsgDetails()" [ngStyle]="{color: activeElemMsg}"> <i
                            class="bx bx-right-arrow-circle" style="font-size: 18px;"></i><span
                            style="font-size: 16px;padding: 8px;"> Messages </span> <span class="badge badge-light" *ngIf="messageCount>0" style="background-color: blue; color: white; border-radius: 18px;">{{messageCount}}</span></li>
                    <li class="publish-li target" (click)="showAnnDetails()" [ngStyle]="{color: activeElemAnn}"> <i class="bx bx-right-arrow-circle"
                            style="font-size: 18px;"></i><span style="font-size: 16px;padding: 8px;">
                            Announcements</span></li>
                </ul>
            </div>
            
            <div class="col-lg-9 col-md-12">
                <div class="billing-details" *ngIf="activeElemQA == 'blue'">
                    <div *ngIf="showQuesList">
                        <h3 class="title">Q&A</h3>
                        <!-- <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                          <label class="form-check-label" for="inlineCheckbox1">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                          <label class="form-check-label" for="inlineCheckbox2">Not Answered</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                          <label class="form-check-label" for="inlineCheckbox3">Unread</label>
                        </div> -->
                    </div>
                        <div class="row">
                            <div class="courses-review-comments" *ngIf="showQuesList && questionDetails.length == 0">
                                <h5>No Questions Found</h5>
                            </div>
                                <div class="courses-review-comments" *ngIf="showQuesList && questionDetails.length > 0">
                                    <h3 style="font-size: 20px;">Questions<span></span></h3>
                                    <div class="user-review" *ngFor="let ques of questionDetails">
                                        <img src="{{ques.selfie_image ? ques.selfie_image: '../../../assets/img/user_img.png'}}" alt="image">
                                        <div class="review-rating">
                                            <b>{{ques.ques_title}}</b>
                                            <i class="bx bx-reply" style="float: right;font-size: 25px;padding: 12px 12px 12px 5px;cursor:pointer;" (click)="showReply(ques)"><span></span></i>
                                        </div>
                                        <p style="margin-bottom: 25px;">{{ques.ques_details}}</p>
                                            <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{ques.user_name}}</a> .
                                            <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{ques.course_title}}</a> .
                                            <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{ques.section_title}}</a> .
                                            <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{ques.lecture_title}}</a>
                                    </div>
                                </div>
                                <div class="courses-review-comments" *ngIf="showAnswer">
                                        <h3 class="title" (click)="getQuesList()" style="font-size: 16px;cursor: pointer;width: 22%;padding: 3px;" >
                                            Back to All Questions
                                            <span style="font-size: 20px;padding: 30px;"></span>
                                        </h3>
                                        <div class="user-review">
                                            <img src="{{currentques.selfie_image ? currentques.selfie_image: '../../../assets/img/user_img.png'}}" alt="image">
                                            <div class="review-rating">
                                                <b>{{currentques.ques_title}}</b>
                                            </div>
                                                <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{currentques.user_name}}</a> .
                                                <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{currentques.course_title}}</a> .
                                                <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{currentques.section_title}}</a> .
                                                <a style="color: #5624d0;text-decoration: none;font-weight: 400;font-size: 13px;">{{currentques.lecture_title}}</a>
                                                <p style="margin-bottom: 25px;">{{currentques.ques_details}}</p>
                                        </div>
                                        <div *ngIf="answerlist.length>0">
                                            <h4 style="font-size: 20px;margin-bottom: 1.5rem;" >{{answerlist.length}} Replies</h4>
                                            <div class="user-review" style="margin-left: 60px;" *ngFor="let ans of answerlist">
                                                <img src="{{ans.answered_profile ? ans.answered_profile: '../../../assets/img/user_img.png'}}" alt="image">
                                                <div class="review-rating">
                                                    <b>{{ans.answered_user}}</b>
                                                </div>
                                                    <p style="margin-bottom: 25px;">{{ans.answer}}</p>
                                            </div>
                                        </div>
                                        <form [formGroup]="answerForm">
                                        <div class="col-lg-12 col-md-12" style="margin-top: 20px;">
                                            <div class="form-group">
                                                <label>Answer </label>
                                                <textarea class="form-control" formControlName="answer"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12" style="margin-top: 30px;">
                                            <button  class="default-btn" (click)="setAnswerInfo()" [disabled]="answerForm.invalid"
                                            style="border: 1px solid;cursor: pointer;float: right;"><i
                                                class='bx bx-right-arrow-alt icon-arrow before'></i><span
                                                class="label">Add an answer</span><i
                                                class="bx bx-right-arrow-alt icon-arrow after"></i></button>
                                        </div>
                                    </form>
                                </div>
                        </div>
                </div>
                <div class="billing-details" *ngIf="activeElemMsg == 'blue'">
                    <form>
                        <div class="row">
                            <div class="col-lg-12 col-md-12" >
                                <div class="billing-details">
                                    <h3 class="title" style="margin-bottom: 5px;">Messages</h3>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12" >
                                <button class="msg-btn" (click)="composeNewOne()" style="float: right">Compose</button>
                            </div>
                            <div class="col-lg-4 col-md-12" style="border: 1px solid #d1d7dc;overflow: auto;height: 500px;">
                                <div class="row">
                                    <h6 class="font-weight-bold text-center text-lg-left" style="padding:10px;border-bottom: 1px solid #d1d7dc;">Chats</h6>
                                    <div class="active grey lighten-3" style="border-bottom: 1px solid #d1d7dc;margin-bottom: 0.5rem;" *ngFor="let chater of bindchatdata">
                                            <a class="d-flex" (click)="getchatmssg(chater)" style="cursor:pointer;">
                                            <img width="32" height="32" src="{{(chater.receiverprofile != 'undefined' && chater.receiverprofile != null) ? chater.receiverprofile : 'assets/img/download.png'}}"   alt="k" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1" style="margin-right: 1.5rem;margin-bottom: 40px;">
                                            <div class="text-small">
                                                <strong style="padding-right: 10px;">{{chater.receivername}}</strong> <span class="badge badge-light" *ngIf="chater.newmsg>0" style="background-color: blue; color: white; border-radius: 18px;">{{chater.newmsg}}</span><br/>
                                                <p class="last-message" style="color: black;">{{chater.chatmsg}}</p>
                                            </div> 
                                            </a>
                                        </div> 
                                </div>
                            </div>
                            
                            <div class="col-lg-8 col-md-12" style="border: 1px solid #d1d7dc;overflow: auto;height: 500px;">
                                <div class="billing-details" *ngIf="showNewMsg">
                                    <h3 class="title" style="padding-top: 35px;">New Message</h3>
                                    <!-- <a (click)="showCourse()"  style="float: right;cursor: pointer;"><i class='bx bx-left-arrow-alt'></i><span class="label">Back To Courses</span></a> -->
                                    <form [formGroup]="messageForm">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group add-row">
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete 
                                                            historyIdentifier="instructorList" 
                                                            placeholder="Enter the Name"
                                                            (selected)='selectEvent($event)'
                                                            [data]="instructorList$ | async" 
                                                            [searchKeyword]="keyword" 
                                                            [itemTemplate]="itemTemplate" 
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            (inputChanged)=search$.next($event)>
                                                        </ng-autocomplete>
                                                    
                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.user_name"></a>
                                                        </ng-template>
                                                    
                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12" style="margin: 10px;" *ngIf="selectedId">
                                                <div class="form-group">
                                                    <label>Message<span class="required">*</span></label>
                                                    <textarea type="text" formControlName="message"
                                                            class="form-control message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12"  *ngIf="selectedId">
                                                <a class="default-btn" (click)="setMessageInfo()"
                                                style="border: 1px solid;cursor: pointer;float: right;"><i
                                                class='bx bx-right-arrow-alt icon-arrow before'></i><span
                                                class="label">Send</span><i
                                                class="bx bx-right-arrow-alt icon-arrow after"></i></a>
                                                <button class="msg-btn" (click)="backToChat()" style="float: right;margin:2px;">Cancel</button>
                                            </div>

                                            </div>
                                        </form>
                                </div>
                                <div class="chat-message" *ngIf="showSelected"> 
                                    <ul class="list-unstyled chat-1 scrollbar-light-blue" style="margin-bottom: 0rem;">
                                        <li class="conv-title">
                                            <p style="padding: 5px;">Conversation with {{conversationWith}}</p>
                                        </li>
                                        <div *ngIf="chat" #target style="margin: 10px;">
                                            <li *ngFor="let message of chat" style="height: 65px;">
                                                <div class="d-flex pull-right">
                                                    <p class="chat-class" *ngIf="message.from_chat != null" style="margin: 10px;">
                                                        {{message.from_chat == null ? '': message.from_chat}}
                                                      </p>
                                                    <img width="32" height="32" style="margin: 10px;height: 100%;" *ngIf="message.from_chat != null" src="{{(message.fromprofile != 'undefined' && message.fromprofile != null) ? message.fromprofile : 'assets/img/download.png'}}" alt="avatar" class="avatar rounded-circle">
                                                </div>
                                                <div class="d-flex">
                                                    <img width="32" height="32" style="margin: 10px;height: 100%;" *ngIf="message.to_chat != null" src="{{(message.toprofile != 'undefined' && message.toprofile != null) ? message.toprofile : 'assets/img/download.png'}}"  alt="avatar" class="avatar rounded-circle">
                                                    <p class="chat-class" *ngIf="message.to_chat != null" style="margin: 10px;">
                                                        {{message.to_chat == null ? '': message.to_chat}}
                                                    </p> 
                                                </div>
                                            </li> 
                                        </div>
                                        <form [formGroup]="messageForm">
                                            <div class="row">
                                                <div class="col-lg-10 col-md-10">
                                                    <div class="form-group">
                                                        <label></label>
                                                        <textarea type="text" formControlName="message" placeholder="Type your message..."
                                                            class="form-control message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2" style="height: 100%;margin-top: 25px;">
                                                    <button class="msg-btn" (click)="setConversationInfo()" style="float: right;width: 100%;">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="billing-details" *ngIf="activeElemAnn == 'blue'">
                    <div class="row" >
                        <div class="col-lg-12 col-md-12" >
                            <div class="billing-details" *ngIf="showQuesList">
                                <h3 class="title" style="margin-bottom: 5px;">Announcement</h3>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12" *ngIf="showAnnouncementList">
                            <button class="msg-btn" (click)="createNewAnnouncement()" style="float: right">New</button>
                        </div>
                        <div class="col-lg-12 col-md-12" *ngIf="showAnnouncementList && announcementList.length>0">
                        <div class="orders-table table-responsive" >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Title</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dt of announcementList;let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{dt.title}}</td>
                                        <td><i class="fa fa-pencil" style="cursor: pointer;padding-right: 10px;" (click)="editAnnouncement(dt)"></i>
                                            <i class="fa fa-trash" style="cursor: pointer;padding-right: 10px;" (click)="deleteAnnouncement(dt)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                        <form [formGroup]="announcementForm" *ngIf="createAnnouncement">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Title<span class="required">*</span></label>
                                        <input type="text" formControlName="title" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Description<span class="required">*</span></label>
                                        <textarea type="text" formControlName="description"
                                                class="form-control message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <a class="default-btn" (click)="setAnnouncementInfo()"
                                    style="border: 1px solid;cursor: pointer;float: right;"><i
                                    class='bx bx-right-arrow-alt icon-arrow before'></i><span
                                    class="label">Publish</span><i
                                    class="bx bx-right-arrow-alt icon-arrow after"></i></a>
                                    <button class="msg-btn" (click)="backToList()" style="float: right;margin:2px;">Cancel</button>
                                </div>
                        </form>
                        <form [formGroup]="announcementEditForm" *ngIf="updateAnnouncement">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Title<span class="required">*</span></label>
                                    <input type="text" formControlName="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Description<span class="required">*</span></label>
                                    <textarea type="text" formControlName="description"
                                            class="form-control message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <a class="default-btn" (click)="updateAnnouncementInfo()"
                                style="border: 1px solid;cursor: pointer;float: right;"><i
                                class='bx bx-right-arrow-alt icon-arrow before'></i><span
                                class="label">Update</span><i
                                class="bx bx-right-arrow-alt icon-arrow after"></i></a>
                                <button class="msg-btn" (click)="backToList()" style="float: right;margin:2px;">Cancel</button>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>