<app-settings></app-settings>
    <div class="container">
        <div class="myDashboard-content">
            <form class="edit-account" >
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                            <label style="font-size: 20px;
                            font-weight: 600;
                            margin-bottom: 20px;">As an student, I want to receive:
                            </label>
                            <div style="border: 1px solid;padding: 30px;">
                                <p style="font-weight: 500;font-size: 15px;"><b>Helpful resources and important updates related to being an instructor</b>.</p>
                                <span style="font-size: 14px;">To adjust this preference by course, leave this box checked and go to ‘Course Settings’ on the course management dashboard to opt in or out of specific notifications.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4"></div>
                    <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                            <label style="font-size: 20px;
                            font-weight: 600;
                            margin-bottom: 20px;">As an student, I want to receive:
                            </label>
                            <div style="border: 1px solid;padding: 30px;">
                                <p style="font-weight: 500;font-size: 15px;"><b>Helpful resources and important updates related to being an instructor</b>.</p>
                                <span style="font-size: 14px;">To adjust this preference by course, leave this box checked and go to ‘Course Settings’ on the course management dashboard to opt in or out of specific notifications.</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn"><i class='bx bx-save icon-arrow before'></i><span class="label">Save Changes</span><i class="bx bx-save icon-arrow after"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

  
